.header {
    position: fixed;
    background: #fff;
    z-index: 1;
    width: 100%;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
}
.description_container {
    margin-left: 32px;
    margin-top: 80px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.title {
    display: flex;
    align-items: center;
}
.home {
    margin-right: 30px;
    cursor: pointer;
}
.container {
    display: flex;
    position: relative;
    width: 100%;
    margin: -10px;
}
.poster {
    border-radius: 4px;
    height: 60vh;
    width: 70vh;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
    }
}

.poster_container {
    margin-right: 16px;
}
.trailer {
    border: none;
    height: 60vh;
    margin-top: 2px;
    width: 100vh;
    border-radius: 4px;
    margin-right: 16px;
    @media (max-width: 768px) {
        width: 96%;
        height: 100%;
    }
}
.details {
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 16px;
}
.text {
    color: #4a4a4a;
    margin: 0 8px 0 0;
}
.vr {
    margin: 0 4px;
    border-right: 1px solid #4a4a4a;
}
.name {
    color: #4a4a4a;
    margin-left: 2px;
}
.description {
    margin-top: 12px;
}
.heading {
    margin-left: 12px;
}
.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 340px;
    padding: 16px;
    border-radius: 4px;
    width: 50%;
    background: #dfdfde;
    box-shadow: 0px 0px 8px 0px rgba(98, 127, 172, 0.2);
    @media (max-width: 768px) {
        left: 86px;
    }
}
.trailer_poster {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
